* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Mulish;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco-50);
}

main {
    flex: 1;
    padding: 0 2rem;
}

.svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.svg-icon .icon {
    color: var(--blanco-50);
}

.section-catalogo {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: .25fr 1fr;
    gap: .5rem;
    margin-bottom: 2rem;
}

.cont-filtros {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-right: 1px solid var(--terciario-50);
    padding-right: 1rem;
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-filtro {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
}

.input-filtro input[type="checkbox"] {
    display: none;
}

.lbl {
    display: inline-block;
    padding: .5rem .7rem;
    background-color: var(--blanco-50);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.lbl::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: var(--terciario-50);
    transform: translateX(-50%);
    transition: width 0.4s ease;
}

.input-filtro:hover .lbl::after {
    width: 100%;
}



.subtitulo {
    color: var(--terciario-50);
    font-family: Noto_Sans;
    font-size: 1.5rem;
}

.productos-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    justify-content: space-between;
    gap: .5rem;

}

.productos-grid .producto {
    width: 100%;
    height: auto;
    background-color: var(--blanco-50);
    border-bottom: 1px solid var(--terciario-50);
    border-top: 1px solid var(--terciario-50);
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    overflow: hidden;
    padding: .2rem;
}

.producto .nombre-producto {
    color: var(--terciario-50);
    font-family: Noto_Sans;
    font-size: 1.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    /* Futuro soporte estandar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.producto .svg-icon {
    width: 1.8rem;
    height: 1.8rem;
}

.producto .svg-icon .icon {
    color: var(--blanco-50);
}

.cont-categoria-precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-categoria-precio .categoria {
    max-width: 40%;
    width: auto;
    background-color: var(--secundario-50);
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 1.25rem;
    padding: .2rem .5rem;
}

.categoria span {
    color: var(--blanco-50);
    font-family: Mulish;
    font-size: .8rem;
}

.cont-categoria-precio .precio {
    max-width: 60%;
    width: auto;
    align-items: center;
    font-family: Noto_Sans;
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--terciario-50);
    text-overflow: ellipsis;
    text-align: end;
}

.producto .descripcion-producto {
    text-align: start;
    font-size: .9rem;
    color: var(--terciario-50);
}

.cont-tiempo-btn {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.cont-tiempo-btn .cont-tiempo {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.cont-tiempo .tiempo {
    font-size: .9rem;
    font-weight: 500;
    color: var(--Negros-700);
}

.cont-tiempo .svg-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.cont-tiempo-btn .btn-ver-mas {
    all: unset;
    padding: .3rem 1.2rem;
    background-color: var(--blanco-50);
    font-size: 1rem;
    border-radius: 1.25rem;
    color: var(--terciario-50);
    cursor: pointer;
    transition: .6s ease;
    border: 1px solid var(--terciario-50);
    margin-left: auto;
}

.btn-ver-mas:hover {
    background-color: var(--secundario-50);
    color: var(--blanco-50);
}