* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Mulish;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--blanco-50);
}

main {
    transition: margin-left 0.4s ease;
    padding: 1rem;
    min-height: 100vh;
    margin-left: 5%;
    margin-top: 4rem;
    margin-right: 2rem;
    overflow: hidden;
}

.svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.svg-icon .icon {
    color: var(--blanco-50);
}

/*MAIN*/
.cont-titulo-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .8rem;
    border-bottom: 1px solid var(--terciario-50);
    margin-bottom: .4rem;
}

.cont-titulo-btn .subtitulo {
    color: var(--terciario-50);
    font-family: Noto_Sans;
    font-weight: 800;
    font-family: 1.5rem;
}

.seleccionar-tipo-venta{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    border-bottom: 1px solid var(--terciario-50);
    padding-bottom: .6rem;
}

.seleccionar-tipo-venta .tipo-venta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem .4rem;
    border-radius: 1.25rem;
    text-decoration: none;
    font-size: 1rem;
    transition: all .5s ease;
    font-weight: 700;

}

.seleccionar-tipo-venta .tipo-venta.pagas{
    border: 2px solid var(--exito-50);
    color:var(--exito-50);
}

.seleccionar-tipo-venta .tipo-venta.pagas:hover,
.seleccionar-tipo-venta .tipo-venta.pagas.seleccionado{
    background-color: var(--exito-50);
    color: var(--blanco-50);
}

.seleccionar-tipo-venta .tipo-venta.pendientes{
    border: 2px solid var(--advertencia-50);
    color:var(--advertencia-50);
}

.seleccionar-tipo-venta .tipo-venta.pendientes:hover,
.seleccionar-tipo-venta .tipo-venta.pendientes.seleccionado{
    background-color: var(--advertencia-50);
    color: var(--blanco-50);
}

/*TABLA*/
.producto {
  display: flex;
  flex-direction: column;
}

.producto button{
    all: unset;
}

.producto button .icon{
    color: var(--terciario-50);
    cursor: pointer;
}

.producto .informacion-principal{
    border-radius: 1.25rem 1.25rem 0 0;
    display: flex;
    padding: 0.625rem;
    align-items: center;
    gap: 1.5rem;
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: var(--blanco-50);
    border-bottom:1px solid var(--terciario-50);
}

.informacion-principal .btns{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:.5rem;
    padding: .2rem .2rem;
}


.informacion-principal .informacion{
    width: 100%;
    display: grid;
    grid-template-columns: .4fr .4fr .6fr .4fr;
    align-items: center;

}

.informacion .lbl-informacion{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 .2rem;
    border-left: .5px solid var(--terciario-50);
    border-right: .5px solid var(--terciario-50);
}

